main, .navbar, .parallax, #ploygon4, #base3{
	max-width:1920px;
}

body,html{
	font-family: 'Raleway', sans-serif;
	background-color:#fff;
	overflow-x:hidden;
}

.transparent{
	background-color:transparent !important;
}

main{
	background-color:#fff;
	margin:0 auto;
}

main .container{
	max-width:100% !important;
	padding:0px;
	background-color:#fff;
}

#go_to_top{
	position:fixed;
	bottom: 0px;
	width:100%;
	z-index:10000;
	display:none;
}

#go_to_top .content{
	opacity: 0.4 !important;
}
#go_to_top img{
	width:39px;
}

.show{
	display:block !important;
}

.align-right{
	text-align:right;
}

/* parallax */

.pin{
	position: relative;
	top: -220px;
	font-size:1px;
}
.content{
	max-width:1210px;
	margin:0 auto;
	padding:10px 20px;
	opacity:0;
}

/* end of parallax */

.copyright{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	padding-top:21px;
	padding-bottom:21px;
	color: #7b7b7b;
	background-color:#000;
	float:left;
	width:100%;
}

/* zeplin */

.TEMCO-LOGO {
	width: 141px;
	height: 38px;
	object-fit: contain;
}
/* end of zeplin */

/* mobile */



@media only screen and (max-width: 768px) {

	.hide-mobile{
		display:none;
	}

	.navbar-collapse {
		background-color: #202020 !important;
	}

	.portrait-container{
		width:50%;
	}
}

@media only screen and (max-width: 415px) {

	.dot{
		display:none;
	}

	.hide-375{
		display:none;
	}

}

/* end of mobile */
