main, .navbar, .parallax, #ploygon4, #base3{
	max-width:1920px;
}

body,html{
	font-family: 'Raleway', sans-serif;
	background-color:#fff;
	overflow-x:hidden;
}

.transparent{
	background-color:transparent !important;
}

main{
	background-color:#fff;
	margin:0 auto;
}

main .container{
	max-width:100% !important;
	padding:0px;
	background-color:#fff;
}

#go_to_top{
	position:fixed;
	bottom: 0px;
	width:100%;
	z-index:10000;
	display:none;
}

#go_to_top .content{
	opacity: 0.4 !important;
}
#go_to_top img{
	width:39px;
}

.show{
	display:block !important;
}

.align-right{
	text-align:right;
}

/* parallax */

.pin{
	position: relative;
	top: -220px;
	font-size:1px;
}
.content{
	max-width:1400px;
	margin:0 auto;
	padding:10px 100px;
	opacity:0;
}

/* end of parallax */

.copyright{
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: center;
	padding-top:21px;
	padding-bottom:21px;
	color: #7b7b7b;
	background-color:#000;
	float:left;
	width:100%;
}

/* zeplin */

.TEMCO-LOGO {
	width: 141px;
	height: 38px;
	object-fit: contain;
}
/* end of zeplin */

/* mobile */

@media only screen and (max-width: 1050px) {
	.content{
		padding-left:40px;
		padding-right:40px;
		max-width:1050px;
	}
}

@media only screen and (max-width: 900px) {
	.content{
		padding-left:30px;
		padding-right:30px;
		max-width:900px;
	}
}

@media only screen and (max-width: 770px) {
	.content{
		padding-left:30px;
		padding-right:30px;
		max-width:770px;
	}
	.hide-mobile{
		display:none;
	}

	.portrait-container{
		width:50%;
	}
}

/* iphone 6+, 6s+, 7+, 8+  */
@media only screen and (max-width: 414px) {

	.hide-375{
		display:none;
	}

	.text-main{
		font-size: 23px !important;
	}

	.text-category{
		font-size: 24px !important;
	}

	.text-sub-category{
		font-size: 17px !important;
	}

	.text-desc{
		font-size: 13px !important;
	}
}

@media only screen and (max-width: 400px) {
	.content{
		padding-left:15px;
		padding-right:15px;
		max-width:400px;
	}
}

/* iphone x 7 8  */
@media only screen and (max-width: 375px) {

}

/* galxay  */
@media only screen and (max-width: 360px) {



}

/* iphone 3,4,5  */
@media only screen and (max-width: 320px) {


}

/* iphone x  */
@media only screen and (max-width: 375px) and (max-device-height: 812px) {
	.text-main{
		font-size: 23px !important;
	}

	.text-category{
		font-size: 24px !important;
	}

	.text-sub-category{
		font-size: 17px !important;
	}

	.text-desc{
		font-size: 13px !important;
	}
}

/* iphone 6+, 6s+, 7+, 8+  */

/* end of mobile */
