<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Tasha</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="app.css" rel="stylesheet">
	</head>
	<body ng-app="TashaApp" ng-controller="TashaCtrl">

		<!-- header -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Temco</a>
			<button class="navbar-toggler"
							type="button"
							data-toggle="collapse"
							data-target="#navbarsExampleDefault"
							aria-controls="navbarsExampleDefault"
							aria-expanded="false"
							aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Ecosystem</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Prototype</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Timeline</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Token</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Roadmap</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Login/Sign Up</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							 href="http://example.com"
							 id="language"
							 data-toggle="dropdown"
							 aria-haspopup="true"
							 aria-expanded="false">
								{{lang}}
						</a>
						<div class="dropdown-menu" aria-labelledby="language">
							<a class="dropdown-item"
								 href="#"
								 ng-click="changeLang('Kor')">
								Kor
							</a>
							<a class="dropdown-item"
								 href="#"
								 ng-click="changeLang('Eng')">
								Eng
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end of header -->

		<main role="main">

			<!-- container -->
			<div class="container">

				<div class="spacer s0"></div>
				<div id="parallax1" class="parallaxParent">
					<div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg1.png);"></div>
				</div>
				<div class="spacer s1">
					<div class="box2 blue">
						<p>Content 1</p>
						<a href="#" class="viewsource">view source</a>
					</div>
				</div>
				<div class="spacer s0"></div>
				<div id="parallax2" class="parallaxParent">
					<div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg2.png);"></div>
				</div>
				<div class="spacer s1">
					<div class="box2 blue">
						<p>Content 2</p>
						<a href="#" class="viewsource">view source</a>
					</div>
				</div>
				<div class="spacer s0"></div>
				<div id="parallax3" class="parallaxParent">
					<div style="background-image: url(http://scrollmagic.io/img/example_parallax_bg3.png);"></div>
				</div>
				<div class="spacer s2"></div>

				<!-- Example row of columns -->
				<div class="row">
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
					</div>
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
					</div>
					<div class="col-md-4">
						<h2>Heading</h2>
						<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
						<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
					</div>
				</div>

				<hr>

			</div>
			<!-- /container -->

		</main>

		<footer class="container">
			<p>&copy; Company 2010-2018</p>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
						integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
						crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="js/bootstrap.bundle.js"></script>

		<!-- parallax -->
		<script src="http://scrollmagic.io/js/lib/greensock/TweenMax.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script src="http://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

		<!-- Custom JavaScript for this template -->
		<script src="app.js"></script>
	</body>
</html>