<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TEMCO</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

		<!-- google icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
					rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="app.css" rel="stylesheet">
	</head>
	<body ng-app="TashaApp" ng-controller="TashaCtrl">

		<main role="main">

			<!-- header -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top">
				<div id="navContainer">
					<a class="navbar-brand"
						 ng-click="navClicked($event,'home')">
						<img src="img/TEMCO LOGO@3x.png"
								 class="TEMCO-LOGO">
					</a>
					<button class="navbar-toggler"
									type="button"
									data-toggle="collapse"
									data-target="#navbarsExampleDefault"
									aria-controls="navbarsExampleDefault"
									aria-expanded="false"
									aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item" ng-repeat="item in navBars">
								<a class="nav-link" data={{item.title}} ng-click="navClicked($event,item.title)">{{item.title}}</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- end of header -->

			<!-- container -->
			<div class="container">

				<div id="parallax1" class="parallax">
					<div class="content">
						<a name="home" class="pin">&nbsp;</a>
						<div id="headerTransform"
								 style="margin-top:158px;margin-bottom:25px;">
							<img src="img/BAR@2x.png" />
						</div>
						<div style="margin-bottom:25px;
												text-transform:uppercase;
												font-family: Montserrat;
												font-size: 50px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: 0.76;
												letter-spacing: -1.3px;
												text-align: left;
												color: #ffffff;
												color: var(--white);"
								 class="header1">
							Supply Chain Management
						</div>
						<div style="height: 43px;
												margin-bottom:20px;
												text-transform:uppercase;
												font-family: Montserrat;
												font-size: 60px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: 0.63;
												letter-spacing: normal;
												text-align: left;
												color: #ffffff;
												color: var(--white);" class="header2">
							Reimagined<img style="margin-top: 23px;
    																margin-left: 5px;" class="dot" src="img/copy9@2x.png" />
						</div>
						<div style="height: 42px;
												text-transform:uppercase;
												font-family: Raleway;
												font-size: 16px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.88;
												letter-spacing: 1.2px;
												text-align: left;
												color: #ffffff;
												color: var(--white);">
							TEMCO delivers trusted data from the point of origin<br />
							to the point of consumption
						</div>
						<img src="img/HEADER_CUBE01@2x.png"
								 class="hide-mobile"
								 style="position: absolute;
								 				right: 0px;
								 				top: 240px;" />
					</div>
				</div>

				<div id="parallax2" class="parallax">
					<div class="content">

						<div class="row">
							<div class="col-md-12">
								<div style="margin-bottom:76px;
														margin-top:80px;
														height:42px;
														font-family: Montserrat;
														font-size: 48px;
														font-weight: bold;
														font-style: normal;
														font-stretch: normal;
														line-height: 1;
														letter-spacing: -1.2px;
														text-align: left;
														text-transform:uppercase;
														color: #304766;">
									Temco Advantage
									<img style="margin-top: 15px;
    													margin-left: 5px;" class="dot" src="img/copy9@2x.png" />
									<a name="about" class="pin">&nbsp;</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row icon-container">
									<div>
										<img src="img/icon_connected@2x.png" />
									</div>
									<div>
										<div class="accent4">
											Connected
										</div>
										<div class="normal2">
											Track, share, and access real time data anywhere<br />
											anytime through highly linked blockchain technology
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_credible@2x.png" />
									</div>
									<div>
										<div class="accent4">
											Credible
										</div>
										<div class="normal2">
											Vendors are background checked through<br />
											our Vendor Verification System (VVS).
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_transparent@2x.png" />
									</div>
									<div>
										<div class="accent4">
											Transparent
										</div>
										<div class="normal2">
											Data collected through smart contract in<br />
											blockchain is safe and transparent.
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_traceable@2x.png" />
									</div>
									<div>
										<div class="accent4">
											Tracecable
										</div>
										<div class="normal2">
											Trace your purchase back to its origin.<br />
											Any dispute can be reliably and promptly resolved.
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_secure@2x.png" />
									</div>
									<div>
										<div class="accent4">
											Secure
										</div>
										<div class="normal2" style="margin-bottom:120px;">
											Blockchain data is distributed and therefore,<br />
											unmodifiable.
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-6 align-right">
								<img class="max hide-mobile" src="img/ig_advantage1@2x.png" />
							</div>
						</div>
					</div>
				</div>

				<div id="parallax3" class="parallax"
						 style="padding-top:40px;">

					<div class="content" style="margin-top:180px;">
						<a name="about" class="pin">&nbsp;</a>
						<div class="row">
							<div class="col-md-6">
								<div class="row icon-container">
									<div>
										<img src="img/icon_verifiedvendor@2x.png" />
									</div>
									<div>
										<div class="accent4 bright">
											Verified Vendors
										</div>
										<div class="normal2 light-blue">
											TEMCO only partners with businesses cleared<br />
											by the Vendor Verification System (VVS)
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_linkeddata@2x.png" />
									</div>
									<div>
										<div class="accent4 bright">
											Linked Data
										</div>
										<div class="normal2 light-blue">
											Smart tags track the entire supply chain process<br />
											from point of origin to the final consumer, helping<br />
											companies boost efficiency and cut costs.
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_realreviews@2x.png" />
									</div>
									<div>
										<div class="accent4 bright">
											Real Reviews
										</div>
										<div class="normal2 light-blue">
											Consumers who purchased the product can post<br />
											reviews. Using blockchain technology for verification,<br />
											TEMCO eliminates the risk of fake reviews.
										</div>
									</div>
								</div>

								<div class="row icon-container">
									<div>
										<img src="img/icon_marketplace@2x.png" />
									</div>
									<div>
										<div class="accent4 bright">
											Marketplace
										</div>
										<div class="normal2 light-blue">
											TEMCO marketplace offers all the features above.<br />
											You don't have to look other places to get more<br />
											information.
										</div>
									</div>
								</div>

							</div>
							<div class="col-md-6 align-right">
								<div class="align-right bright hide-mobile"
										 style="height: 105px;
														margin-bottom:110px;
														text-transform:uppercase;
														font-family: Montserrat;
														font-size: 48px;
														font-weight: bold;
														font-style: normal;
														font-stretch: normal;
														line-height: normal;
														letter-spacing: -1.2px;
														margin-top:-65px;
														text-align: right;
														color: #effbfd;">
									Revolutionary<br />
									<img style="margin-top: 14px;
    													margin-right: 10px;" class="dot" src="img/copy9@2x.png" />
									Solution
								</div>
								<img class="max hide-mobile" src="img/IG_SOLUTION@2x.png">
							</div>
						</div>
					</div>
				</div>

				<div style="margin: 0 auto;
										margin-top: -212px;
										position:relative;
										width: 100px;">
					<img style="width: 100px;
											margin-left: -7px;"
							 src="img/logo_drop.png" />
				</div>

				<div id="parallax4" class="parallax">

					<div class="content"
							 style="text-align:center;
							 			  max-width:750px;">
						<div style="height: 48px;
												margin-top:32px;
												margin-bottom:79px;
												text-transform: uppercase;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												color: #344765;">
							Our Mission
							<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
						</div>
						<div style="height: 388px;
												font-family: Raleway;
												font-size: 20px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.4;
												letter-spacing: -0.6px;
												text-align: center;
												color: #808080;">
							Most companies do not have sufficient infrastructure to provide supply chain management data to their customers.  Consumers want more information about their purchases, but they only have access to basic shipping logs and estimated data.
							<br />
							<br />
							The Transportation Enterprise Merchandise Customer Organization (TEMCO)
							Project will revolutionize supply chain management through innovative technology-smart contracts and blockchain.
							<br />
							<br />
							Our project will provide greater transparency and highly-linked data across
							the entire supply chain process to deliver trustworthy information that
							empowers businesses and consumers.
						</div>
					</div>
				</div>

				<div id="parallax5" class="parallax">
					<div class="content">
						<div class="row">
							<div class="col-md-6">
								<div style="height: 46px;
														margin-bottom:59px;
														text-transform: uppercase;
														font-family: Montserrat;
														font-size: 48px;
														font-weight: bold;
														font-style: normal;
														font-stretch: normal;
														margin-top:125px;
														line-height: normal;
														letter-spacing: -1.2px;
														text-align: left;
														color: #ffffff;
														color: var(--white);">
									Whitepaper
									<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
									<a name="whitepaper" class="pin"
										 style="top:-320px;">&nbsp;</a>
								</div>
								<div style="height: 100px;
														font-family: Raleway;
														font-size: 16px;
														font-weight: 600;
														font-style: normal;
														font-stretch: normal;
														line-height: 1.88;
														letter-spacing: 0.4px;
														text-align: left;
														color: #ffffff;
														color: var(--white);">									
								</div>
								<div style="background:url('img/BUTTON BASE@2x.png');
														background-repeat:no-repeat;
														text-align:center;
														margin-top:25px;
    												width: 255px;
    												height: 71px;">
									<div class="download" style="padding-top:18px;">
										<a href="TEMCO_E.pdf" target="_blank">DOWNLOAD</a>
									</div>
									<div class="download2" style="">
										
									</div>
								</div>
							</div>
							<div class="col-md-6 align-right">
								<img class="hide-mobile" style="margin-top: -30px;
    																						margin-left: -100px;"
										 src="img/WHITEPAPER@2x.png">
							</div>
						</div>
					</div>
				</div>

				<div id="parallax6" class="parallax">
					<div style="margin: 0 auto;
											margin-top: -110px;
											width: 100px;">
						<img style="width: 100px;"
								 src="img/cube_drop.png" />
					</div>
					<div class="content">
						<div style="height: 47px;
												margin-top:100px;
												margin-bottom:39px;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												color: #384b69;">
							TECHNOLOGY
							<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
							<a name="technology" class="pin">&nbsp;</a>
						</div>
						<div style="margin-bottom:81px;
												font-family: Raleway;
												font-size: 16px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.5;
												letter-spacing: 0.4px;
												text-align: center;
												color: #384b69;">
							TEMCO pairs proven system with innovative technology by adopting a hybrid model that combines<br />
							blockchain technology and Interplanetary File System (IPFS).  Smart contracts are based on<br />
							Ethereum and Eos. The design will achieve efficient storage and efficient data processing.
						</div>
						<div>
							<img style ="width:100%;" src="img/IG_TECHNOLOGY@2x.png" />
						</div>
					</div>
				</div>

				<div id="parallax7" class="parallax">
					<div class="content">
						<div class="row">
							<div class="col-md-3 hide-mobile">
								<img style="margin-left:-60px;" src="img/iPhone@2x.png" />
							</div>
							<div class="col-md-9">
								<div style="height: 48px;
												text-transform:uppercase;
												margin-bottom:55px;
												margin-top:365px;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: right;
												color: #ffffff;">
									<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
									Prototype
									<a name="prototype" style="top:-482px;" class="pin">&nbsp;</a>
								</div>
								<div style="height: 55px;
												margin-bottom:38px;
												font-family: Raleway;
												font-size: 16px;
												font-weight: 600;
												font-style: normal;
												font-stretch: normal;
												line-height: 1.88;
												letter-spacing: 0.4px;
												text-align: right;
												color: #ffffff;">
									
								</div>
								<div style="float:right;">
									<div style="background:url('img/BUTTON BASE@2x.png');
														background-repeat:no-repeat;
														text-align:center;
    												width: 255px;
    												height: 71px;">
										<div style="height: 17px;
														padding-top:20px;
														font-family: Montserrat;
														font-size: 23px;
														font-weight: bold;
														font-style: normal;
														font-stretch: normal;
														line-height: normal;
														letter-spacing: 1.2px;
														text-align: center;
														color: #575757;">
											PLAY
											<img style="margin-left:27px;
															margin-top:-5px;"
													 src="img/PLAY%20ICON@2x.png" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div style="margin: 0 auto;
										width: 100px;">
					<img style="width: 100px;
											margin-left: 1px;"
							 src="img/drop_coin.png" />
				</div>

				<div id="parallax8" class="parallax">
					<div class="content">
						<a name="token" class="pin">&nbsp;</a>
						<div style="height: 48px;
												text-transform: uppercase;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												margin-bottom:147px;
												color: #344765;">
							Token Model
						</div>
						<div style="width: 100%;
												padding-bottom:80px;
												position:relative;
												z-index:999;
												margin-top:-52px;
												background-color: #ffffff;
												border: solid 5px #344765;">
							<div style=" font-family: Raleway;
													font-size: 16px;
													font-weight: 600;
													font-style: normal;
													font-stretch: normal;
													line-height: 1.5;
													letter-spacing: 0.4px;
													max-width:900px;
													margin:0 auto;
													margin-top:101px;
													padding:0 20px;
													color: #2e4262;">
								TEMCO tokens and incentive points are awarded as a token of appreciation for your participation in the community.<br />
								To maintain a sustainable system, monthly top reviewers, highly ranked businesses, and community-voted feedback<br />
								writers are rewarded. You can spend the tokens in the TEMCO marketplace for your next purchase.
							</div>
							<div style="text-align:center;margin-top:97px;">
								<img style="max-width:920px;width:100%;padding:0 20px;" src="img/IG_APPRECIATION@2x.png" />
							</div>
						</div>
					</div>
				</div>


				<div id="parallax9" class="parallax">
					<div style="margin: 0 auto;
										width: 100px;
										margin-top:24px;">
						<img style="width: 100px;
											margin-left: 2px;"
								 src="img/drop_distro.png" />
					</div>
					<div class="content">
						<div style="height: 48px;
												margin-top:35px;
												text-transform:uppercase;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												margin-bottom:199px;
												color: #344765;">
							Token  Distribution
							<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
						</div>
						<div style="text-align:center;">
							<img style="width:80%;max-width:1071px;" src="img/IG_DISTRIBUTION@2x.png" />
						</div>
					</div>
				</div>

				<div id="parallax10" class="parallax">
					<div style="margin: 0 auto;
											width: 100px;
											margin-top:10px;">
						<img style="width: 100px;"
								 src="img/drop_roadmap.png" />
					</div>
					<div style="height: 48px;
											margin-top:55px;
											margin-bottom:212px;
											font-family: Montserrat;
											font-size: 48px;
											font-weight: bold;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											letter-spacing: -1.2px;
											text-align: center;
											color: #ffffff;" id="roadmapHeader">
						ROADMAP
						<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
					</div>
					<div style="height: 34px;
											font-family: Montserrat;
											margin-bottom:25px;
											font-size: 34px;
											font-weight: 600;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											letter-spacing: -0.9px;
											text-align: center;
											color: #69bdca;">
						PHASE 1
					</div>
					<div style="text-transform: uppercase;
											margin-bottom:25px;
											font-family: Montserrat;
											font-size: 40px;
											font-weight: 600;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											letter-spacing: -1px;
											text-align: center;
											color: #ffffff;">
						Development of TEMCO Platform
					</div>
					<div style="text-align:center;margin-bottom:88px;">
						<img src="img/BAR@2x.png" />
					</div>

					<div id="phase1Roadmap" class="timeline-parent-container"
							 style="background-image: url(img/roadmap_line_combined-desktop.png);
											height:884px;">

						<div class="timeline-left-container">

							<div style="margin-top:87px;
													height:186px;"
									 id="apr2018">
								<div class="timeline-date">
									april 2018
								</div>
								<div class="timeline-text">
									Crowd Sale
								</div>
							</div>

							<div id="_4q2018" style="height:290px;">
								<div class="timeline-date">
									4q 2018
								</div>
								<div class="timeline-text">
									Back-end Development of TEMCO<br />
									Beta Application<br />
									Development of Customer functionality<br />
									including like vote and reply system
								</div>
							</div>

							<div id="_2q2019" style="height:288px;">
								<div class="timeline-date">
									2q 2019
								</div>
								<div class="timeline-text">
									Development of Beta Data Network<br />
									Development of Alpha Vendor Verification<br/>System<br />
									Development of Alpha TEMCO Market
								</div>
							</div>

							<div>
								<div id="_4q2019" class="timeline-date">
									4q 2019
								</div>
								<div class="timeline-text">
									TEMCO Platform Alpha Launch
								</div>
							</div>

						</div>

						<div  class="timeline-right-container">

							<div id="mar2018" style="margin-top:-3px;height:183px;">
								<div class="timeline-date">
									march 2018
								</div>
								<div class="timeline-text">
									TEMCO Whitepaper Release<br />
									TEMCO Prototype Release
								</div>
							</div>

							<div id="sept2018" style="height:186px;">
								<div class="timeline-date">
									sept 2018
								</div>
								<div class="timeline-text">
									Development of Blockchain Beta Core Engine
								</div>
							</div>

							<div id="_1q2019" style="height:391px;">
								<div class="timeline-date">
									1q 2019
								</div>
								<div class="timeline-text">
									Development of rating system on products<br />
									UI/UX Design of TEMCO Beta Application<br />
									Development of TEMCO Beta Wallet<br />
									Development of Beta API for Enterprise
								</div>
							</div>

							<div id="_3q2019">
								<div class="timeline-date">
									3q 2019
								</div>
								<div class="timeline-text">
									UI/UX Design of TEMCO Alpha Applications<br />
									Integration Test and Stabilization
								</div>
							</div>
						</div>
					</div>

					<div style="height: 34px;
											margin-top:500px;
											margin-bottom:25px;
											font-family: Montserrat;
											font-size: 34px;
											font-weight: 600;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											letter-spacing: -0.9px;
											text-align: center;
											color: #69bdca;" id="phase2Header">
						PHASE 2
					</div>
					<div style="font-family: Montserrat;
											text-transform: uppercase;
											font-size: 40px;
											font-weight: 600;
											font-style: normal;
											font-stretch: normal;
											line-height: normal;
											margin-bottom:34px;
											letter-spacing: -1px;
											text-align: center;
											color: #ffffff;">
						Development of Smart Temperature and<br />
						Moisture Sensor with Digital Output
					</div>
					<div style="text-align:center;margin-bottom:88px;">
						<img src="img/BAR@2x.png" />
					</div>

					<div id="phase2Roadmap" class="timeline-parent-container"
							 style="background-image: url(img/roadmap_line_combined2_desktop.png);
											height:749px;">
						<div class="timeline-left-container">

							<div id="apr2018_2" style="margin-top:552px;">
								<div class="timeline-date">
									april 2018
								</div>
								<div class="timeline-text">
									<span style="font-weight:bold;">Final Product verification</span><br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Use case and Environmental<br />
									verification with final Product
								</div>
							</div>

							<div id="">

							</div>
						</div>
						<div class="timeline-right-container">
							<div id="mar2018_2" style="margin-top:-3px;height:722px;">
								<div class="timeline-date">
									march 2018
								</div>
								<div class="timeline-text"
										 style="text-align:left;
												margin-bottom:85px;">
									<span style="font-weight:bold;">Hardware</span><br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Smart Sensor Selection and Analysis<br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Sensor interface design with<br />
									<img class="ellipse" style="visibility:hidden;" src="img/Ellipse%20620%20copy%207@2x.png" />
									Product development<br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Sensor bring up and testing<br />
									<img class="ellipse" style="visibility:hidden;" src="img/Ellipse%20620%20copy%207@2x.png" />
									with end product<br />
									<br />
									<span style="font-weight:bold;">Software</span><br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Sensor driver development<br />
									<img class="ellipse" style="visibility:hidden;" src="img/Ellipse%20620%20copy%207@2x.png" />
									for sensor configuration<br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Protocol development<br />
									<img class="ellipse" style="visibility:hidden;" src="img/Ellipse%20620%20copy%207@2x.png" />
									for sensor Interface<br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Sensor integration with Drivers<br />
									<img class="ellipse" src="img/Ellipse%20620%20copy%207@2x.png" />
									Use case validation and testing
								</div>
							</div>

							<div id="sept2018_2">
								<div class="timeline-date"
										 style="text-align:left;">
									sept 2018
								</div>
								<div class="timeline-text"
										 style="text-align:left;">
									Integration of sensors in TEMCO Platform<br />Alpha
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="margin: 0 auto;
										width: 100px;
										margin-top: -209px;;">
					<img style="width: 100px;"
							 src="img/drop_team.png" />
				</div>

				<div id="parallax11" class="parallax">

					<div class="content">
						<div style="height: 48px;
												margin-top:82px;
												margin-bottom:89px;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												color: #344765;">
							TEAM
							<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
							<a name="team" style="top:-195px;" class="pin">&nbsp;</a>
						</div>
						<div style="margin:0 auto;max-width:965px;" class="row">
							<div class="portrait-container col-md-4">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title" style="margin-bottom:78px;">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title" style="margin-bottom:78px;">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4" style="margin-right:0px;">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title" style="margin-bottom:78px;">
									POSITION
								</div>
							</div>
						</div>
						<div style="height: 48px;
												margin-bottom:89px;
												font-family: Montserrat;
												font-size: 48px;
												font-weight: bold;
												font-style: normal;
												font-stretch: normal;
												line-height: normal;
												letter-spacing: -1.2px;
												text-align: center;
												margin-top: 74px;
												width: 100%;
												color: #344765;">
							ADVISORY
							<img style="margin-top: 15px;" class="dot" src="img/copy9@2x.png" />
						</div>
						<div style="margin:0 auto;max-width:965px;" class="row">
							<div class="portrait-container col-md-4">
								<div class="portrait" >

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title"
										 style="margin-bottom:78px;">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title"
										 style="margin-bottom:78px;">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4" style="margin-right:0px;">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title"
										 style="margin-bottom:78px;">
									POSITION
								</div>
							</div>
						</div>
						<div style="margin:0 auto;max-width:965px;" class="row">
							<div class="portrait-container col-md-4">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title">
									POSITION
								</div>
							</div>

							<div class="portrait-container col-md-4" style="margin-right:0px;">
								<div class="portrait">

								</div>
								<div class="team-name">
									JOHN DOE
								</div>
								<div class="team-title">
									POSITION
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /container -->

			<!-- footer -->
			<footer>
				<div>
					<img src="img/TEMCO LOGO@3x.png"
							 style="width: 219px;
											height: 38px;
											margin-bottom:55px;
											object-fit: contain;">
				</div>
				<div style="ont-family: Montserrat;
										text-transform:uppercase;
										font-size: 22px;
										font-weight: 600;
										font-style: normal;
										font-stretch: normal;
										line-height: 1;
										letter-spacing: 0.9px;
										text-align: center;
										color: #ffffff;">
					Supply Chain Management Reimagined
				</div>
				<div style="width: 330px;
										height: 2px;
										margin:0 auto;
										margin-top:58px;
										margin-bottom:29px;
										background-color: #ffffff;"></div>
				<div style="height: 16px;
										font-family: Montserrat;
										text-transform: uppercase;
										font-size: 18px;
										font-weight: 600;
										font-style: normal;
										font-stretch: normal;
										line-height: 1;
										letter-spacing: 0.7px;
										margin-bottom:39px;
										text-align: center;
										color: #ffffff;">
					<img style="width: 21px;
											height: 15px;
											margin-top: -3px;
											margin-right: 21px;"
							 src="img/email.png" />
					info@temco.com
				</div>
				<div class="social-media">
					<a target="_blank" href="http://google.com">
						<img src="img/facebook@3x.png" />
					</a>
					<a target="_blank" href="http://google.com">
						<img src="img/twitter@3x.png" />
					</a>
					<a target="_blank" href="http://google.com">
						<img src="img/linkedin@3x.png" />
					</a>
					<a target="_blank" href="http://google.com">
						<img src="img/google@3x.png" />
					</a>
					<a target="_blank" href="http://google.com">
						<img src="img/rss@3x.png" style="margin-right:0px;" />
					</a>
				</div>

			</footer>

			<div class="copyright">
				&copy; 2018 Copyright Temco
			</div>
			<!-- end of footer -->

		</main>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="js/bootstrap.bundle.js"></script>

		<!-- parallax -->
		<script src="js/velocity.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
		<script src="js/animation.gsap.js"></script>
		<script src="js/animation.velocity.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

		<!-- Custom JavaScript for this template -->
		<script src="app.js"></script>
	</body>
</html>