.portrait{
	max-width: 239px;
	background-color: #ffffff;
	margin:0 auto;
}

.portrait .linkedin{
	text-align:center;
	margin-bottom:22px;	
}

.portrait .linkedin img{
	width: 29px;
	height: 29px;
	cursor: pointer;
}

@media only screen and (min-width: 760px) {
		
	.mug-logo-container {
		opacity: 0;
		transition: .5s ease;			
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.mug:hover .mug-inner {
		opacity: 0.7;
		background-color: #73beca;
		background-blend-mode: multiply;
	}

	.mug:hoverr {
		opacity: 0.7;
		background-color: #73beca;
		background-blend-mode: multiply;
	}
	
	.mug:hover .mug-logo-container {
		opacity: 1;
	}


	.mug-logo  {
		position: absolute;
		top: -90px;
		left: 210px;	
	}
}


.mug{
	border: solid 4px #344765;
}

.mug-inner{
	width:100%;	
	background-size:cover;
	padding-bottom:100%;
}

.team-name{
	margin-top:25px;
	margin-bottom:9px;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #344765;
}

.team-title{
	font-family: Raleway;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #344765;
	margin-bottom:16px;
}

.bio{
	font-family: Raleway;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #344765;
}

.bio img{
	width: 5px;
	height: 5px;
}