<div class="portrait">
	<div class="mug">
		<div class="mug-inner" ng-style="{'background-image':'url(' + img + ')'}">
		</div>
		<div class="mug-logo-container" ng-show="isTeam">
			<div class="mug-logo">
				<img src="img/profile_temco_logo.png" />
			</div>
		</div>
	</div>
	<div class="team-name text-sub-category">
		{{firstName}} {{lastName}}
	</div>
	<div class="team-title text-desc">
		{{position}}
	</div>
	<div class="linkedin" ng-if="linkedInUrl">
		<a ng-href="https://www.linkedin.com/in/{{linkedInUrl}}" target="_blank">
			<img src="img/linkedinCopy4@2x.png" />
		</a>
	</div>
	<div class="bio">
		<div ng-repeat="bio in bios" class="text-desc">
			<img src="img/ellipse620Copy8@2x.png" /> {{bio}}
		</div>
	</div>
</div>