#parallax11 {
	background-color:#fff;
	margin-bottom:250px;
	float:left;
	width:100%;
}

.portrait-container{
	width:33%;
	display:inline-block;
	vertical-align: top;
	padding:10px;
}

@media only screen and (max-width: 770px) {

	.portrait-container{
		width:50%;
	}

}

@media only screen and (max-width: 400px) {

	#teamMembers{
		width:100%;
	}

}