#parallax11 {
	background-color:#fff;
	margin-bottom:250px;
	float:left;
	width:100%;
}

.portrait-container{
	width:33%;
	display:inline-block;
	vertical-align: top;
	padding:10px;
}

#teamDropContainer{
	margin: 0 auto;
	width: 100px;
	margin-top: -209px;
}

@media only screen and (max-width: 770px) {

	.portrait-container{
		width:50%;
	}

}


/* iphone 6 7 8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {	
	#teamDropImg{
		height: 170px;
   		margin-left: 15px !important;
    	width: 60px !important;
    	margin-top: 0px;
	}

	#teamDropContainer{
		margin-top: 0px;
	}

	.team-text-container{
		margin-top:40px !important;
		margin-bottom: 20px !important;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#parallax11{
		margin-bottom: 20px !important;
	}
}

/* iphone 6 7 8 plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	#teamDropImg{
		height: 170px;
		margin-left: 15px !important;
    	width: 60px !important;
    	margin-top: 0px;
	}

	#teamDropContainer{
		margin-top: 0px;
	}
	
	.team-text-container{
		margin-top:40px !important;
		margin-bottom: 20px !important;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#parallax11{
		margin-bottom: 20px !important;
	}
}


/* iphone x  */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
	#teamDropImg{
		height: 170px;
		margin-left: 15px !important;
    	width: 60px !important;
    	margin-top: 0px;
	}

	#teamDropContainer{
		margin-top: 0px;
	}

	.team-text-container{
		margin-top:40px !important;
		margin-bottom: 20px !important;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#parallax11{
		margin-bottom: 20px !important;
	}
}

/* galxay  */
@media only screen and (max-width: 360px) {
	#teamDropImg{
		height: 170px;
		margin-left: 15px !important;
    	width: 60px !important;
    	margin-top: 0px;
	}

	#teamDropContainer{
		margin-top: 0px;
	}

	.team-text-container{
		margin-top:40px !important;
		margin-bottom: 20px !important;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#parallax11{
		margin-bottom: 20px !important;
	}
}
