#parallax6 {
	background-image: url(../img/par6.png);
	background-position-x:center;
	margin-top:-516px;
	position:relative;
	z-index:1002;
	padding-top:300px;
	background-repeat: no-repeat;
	min-height:1757px;
	background-size: auto 100%;
}

#dropTechnology{
	margin: 0 auto;
	margin-top: -106px;
	width: 100px;
	background-image: url(../img/cube_drop.png);
	height: 307px;
	background-position-y: bottom;
	background-size: cover;
}
#igTechnology, #igTechnologySmall{
	max-width: 892px;
	width:100%;
	margin: 0 auto;
	margin-bottom: 300px;
}

#igTechnologySmall{
	display:none;
}

#bgTechnologyTop{
	position: absolute;
	right: 0;
	top: 20px;
}

#bgTechnologyTop img{
	width:408px;
}

#technologyHeader{
	height: 47px;
	margin-top:100px;
	margin-bottom:39px;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: center;
	color: #384b69;
}

#bgTechnologyBottom{
	bottom: 40px;
	position:absolute;
	z-index:20;
}

#bgTechnologyBottom img{
	width:300px;
}
@media only screen and (max-width: 1050px) {

	#igTechnology {
		max-width:802.8px;
	}

	#dropTechnology{
		height:276.3px;
		margin-top: -118px;
	}

	#parallax6 {
		//height:1400px;
	}

	#bgTechnologyTop{
		top: 50px;
	}

	#bgTechnologyTop img{
		width:300px;
	}

	#bgTechnologyBottom{
		bottom: 100px;
	}

	#bgTechnologyBottom img{
		width:200px;
	}

}

@media only screen and (max-width: 900px) {

	#igTechnology {
		display:none;
	}

	#igTechnologySmall {
		display:block;
		max-width:713.6px;
	}

	#dropTechnology{
		height:245.6px;
		margin-top:-106px;
	}

}


@media only screen and (max-width: 770px) {

	#parallax6 {
		//height:1400px;
	}

	#bgTechnologyTop{
		top: 100px;
	}

	#bgTechnologyTop img{
		width:200px;
	}

	#bgTechnologyBottom{
		bottom: 150px;
		position:relative;
	}

	#bgTechnologyBottom img{
		width:200px;
	}

	#dropTechnology{
		margin-top:-129px;
	}
}

@media only screen and (max-width: 400px) {
	#igTechnologySmall {
		max-width:400px;
		//height:400px;
	}

	#dropTechnology{
		//height:168.85px;
	}

	#parallax6 {
		//height:1100px;
	}

	#technologyHeader{
		font-size: 38.5px;
	}

	#bgTechnologyTop{
		display:none;
	}

	#bgTechnologyBottom{
		display:none;
	}
}