#parallax8 {
	background-color:#fff;
}

#parallax9 {
	background:url('../img/par9.png');
	background-position-x:center;
	height:2000px;
	padding-top:186px;
	position: relative;
	z-index: 10;
}

#parallax10 {
	background:url('../img/par10.png');
	background-position-x:center;
	margin-top: -375px;
	height:4075px;
	background-color:#fff;
	padding-top:200px;
    --display:none;
}

#dropToken{
	margin: 0 auto;
	margin-top: -35px;
	width: 100px;
	background-image: url(../img/drop_coin.png);
	height: 307px;
	background-position-y: bottom;
	background-size:contain;
	left: 1px;
	z-index:10;
	position: relative;
}

#tokenContent{
	width: 100%;
	padding:0px 64px;
	padding-bottom:85px;
	position:relative;
	z-index:999;
	margin-top:-52px;
	border: solid 5px #344765;
}

#tokenText1{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: 0.4px;
	text-align: center;
	padding-top:82px;
	color: #2e4262;
}

#igToken,#igTokenSmall{
	max-width:920px;
	width:100%;
	background-blend-mode: multiply;
}

#igTokenSmall{
	display:none;
}

.ellipse{
	margin-top:-3px;
	margin-right:10px;
}

.timeline-parent-container{
	background-position-x:center;
	background-repeat:no-repeat;
	background-size:contain;
	width:100%;
}

.timeline-left-container{
	width:50%;
	float:left;
	text-align:right;
	padding-right:95px;
	height:100%;
}

.timeline-right-container{
	width:50%;
	float:right;
	padding-left:95px;
	text-align: left;
	height:100%;
}

.timeline-date{
	height: 28px;
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.7px;
	text-transform: uppercase;
	margin-bottom:16px;
	color: #69bdca;
}

.timeline-text{
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.64;
	letter-spacing: -0.6px;
	color: #ffffff;
}

.tokenBackground{
	position: absolute;
	z-index: 1;
}

@media only screen and (max-width: 1380px) {
	#parallax9{
		height: 1900px;
	}

}

@media only screen and (max-width: 1300px) {
	#parallax9{
		height: 1800px;
	}

}

@media only screen and (max-width: 1300px) {
	#parallax9{
		height: 1700px;
	}

}

@media only screen and (max-width: 1250px) {
	#parallax9{
		height: 1700px;
	}

}

@media only screen and (max-width: 1050px) {
	#dropToken{
		height: 276px;
		width:90px;
	}

	#parallax9{
		height: 1550px;
	}

}

@media only screen and (max-width: 900px) {

	.timeline-text{
		font-size:20px;
	}
	#tokenContent{
		border:0px;
		padding:0px;
	}
	#igToken{
		display:none;
	}
	#igTokenSmall{
		display:block;
	}

	#tokenText1{
		font-size:23px;
	}
	#dropToken{
		height: 245px;
		width:80px;
	}

}

@media only screen and (max-width: 850px) {

	.timeline-text{
		font-size:20px;
	}

	#parallax9{
		height: 1450px;
	}

}

@media only screen and (max-width: 800px) {

	#phase1Roadmap{
		background-image: url(../img/roadmap_line_combined.png) !important;
		height:1322px !important;
		margin-top:-50px;
	}

	#phase2Roadmap{
		background-image: url(../img/roadmap_line_combined2.png) !important;
		height:829px !important;
		margin-top:-50px;
	}

	/* need these header adjustments to fit in mobile height */
	#phase2Header{
		margin-top: 150px !important;
	}
	#roadmapHeader{
		margin-bottom:100px !important;
	}

	.timeline-left-container{
		padding-right:65px;
	}

	.timeline-right-container{
		padding-left:65px;
	}

	.timeline-left-container .timeline-text{
		position:relative;
		top:-5px;
		right:-40px;
	}

	.timeline-right-container .timeline-text{
		position:relative;
		top:-5px;
		left:-35px;
	}

	/* phase 1 left */
	#apr2018{
		margin-top:109px !important;
		height: 214px !important;
	}

	#_4q2018{
		height:550px !important;
	}

	#_2q2019{
		height:417px !important;
	}

	/* phase 1 right */
	#mar2018{
		height:218px !important;
	}

	#sept2018{
		height:296px !important;
	}

	#_1q2019{
		height:579px !important;
	}

	/* phase 2 left */
	#apr2018_2{
		margin-top:622px !important;
	}

	/* phase 2 right */
	#mar2018_2{
		height:801px !important;
	}
}


@media only screen and (max-width: 665px) {

	.timeline-date{
		padding-top:5px;
		font-size:20px;
	}

	.timeline-text{
		font-size:18px;
	}

	#parallax9{
		height: 1350px;
	}

}


@media only screen and (max-width: 515px) {

	.timeline-date{
		padding-top:5px;
		font-size:18px;
	}

	.timeline-text{
		font-size:16px;
	}

	#parallax9{
		height: 1250px;
	}

}

/**
@media only screen and (max-width: 440px) {

	#parallax9{
		height: 1200px;
	}

}
**/

/**
@media only screen and (max-width: 415px) {

	.header1{
		font-size:40px !important;
		line-height:1 !important;
	}

	.header2{
		font-size:45px !important;
	}

	.timeline-text{
		font-size:14px;
	}

	#phase2Header{
		margin-top: 100px !important;
	}

	#roadmapHeader{
		margin-bottom:100px !important;
	}

}

@media only screen and (max-width: 400px) {

	#tokenText1{
		font-size:16px;
	}

	#dropToken{
		height: 169px;
		width:55px;
	}

	.tokenBackground{
		display:none;
	}
}

**/

/* iphone 6 7 8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {	
	.tokenBackground{
		display:none;
	}

	#dropToken {
		height: 245px;
		width: 60px;
		margin-top: -85px;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	.token-header{
		margin-bottom: 0px !important;
	}

	#drop-distro-img {
		width: 60px !important;
		margin-left: 18px !important;
	}

	.token-dist-container{
		margin-bottom: 30px !important;
	}

	
	#token-dist-img{
		width: 100% !important;
	}

	#parallax9 {
		height: 900px !important;
	}

	#drop-roadmap-img{
		width: 60px !important;
		margin-left: 18px !important;
		margin-top: 100px;
	}

	#parallax10 {
		height: 3560px ;
	}
}

/* iphone 6 7 8 plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	.tokenBackground{
		display:none;
	}

	#dropToken {
		height: 245px;
		width: 60px;
		margin-top: -85px;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	.token-header{
		margin-bottom: 0px !important;
	}

	#drop-distro-img {
		width: 60px !important;
		margin-left: 18px !important;
	}

	.token-dist-container{
		margin-bottom: 30px !important;
	}

	
	#token-dist-img{
		width: 100% !important;
	}

	#parallax9 {
		height: 900px !important;
	}

	#drop-roadmap-img{
		width: 60px !important;
		margin-left: 18px !important;
		margin-top: 100px;
	}

	#parallax10 {
		height: 3560px ;
	}
}


/* iphone x  */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
	.tokenBackground{
		display:none;
	}

	#dropToken {
		height: 245px;
		width: 60px;
		margin-top: -85px;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}
	
	.token-header{
		margin-bottom: 0px !important;
	}

	#drop-distro-img {
		width: 60px !important;
		margin-left: 18px !important;
	}

	.token-dist-container{
		margin-bottom: 30px !important;
	}

	
	#token-dist-img{
		width: 100% !important;
	}

	#parallax9 {
		height: 900px !important;
	}

	#drop-roadmap-img{
		width: 60px !important;
		margin-left: 18px !important;
		margin-top: 100px;
	}

	#parallax10 {
		height: 3560px ;
	}
}

/* galxay  */
@media only screen and (max-width: 360px) {
	.tokenBackground{
		display:none;
	}

	#dropToken {
		height: 245px;
		width: 60px;
		margin-top: -85px;
	}

	#dot-img{
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	.token-header{
		margin-bottom: 0px !important;
	}

	#drop-distro-img {
		width: 60px !important;
		margin-left: 18px !important;
	}

	.token-dist-container{
		margin-bottom: 30px !important;
	}

	#token-dist-img{
		width: 100% !important;
	}

	#parallax9 {
		height: 900px !important;
	}

	#drop-roadmap-img{
		width: 60px !important;
		margin-left: 18px !important;
		margin-top: 100px;
	}

	#parallax10 {
		height: 3560px ;
	}

}
