footer, footer .copyright{
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
}

footer{
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.71;
	letter-spacing: normal;
	padding: 124px 20px 111px 20px;
	background-color:#202020;
	text-align: center !important;
	float:left;
	width:100%;
}

footer a, footer a:hover{
	color:white;
	cursor:pointer;
}

footer .material-icons{
	font-size:14px;
	position:relative;
	top:3px;
	margin-right:10px;
}

footer a:hover{
	text-decoration:none;
}
footer .social-media{display:inline-block;text-align:center;}
footer .social-media a{font-size:0;display:inline-block;}
footer .social-media img {
	width: 50px;
	height: 50px;
	margin:7px;
}

.footer-logo{
	object-fit: contain;
	font-family: 'object-fit: contain;';
}
.white-line{width:100%;max-width: 330px;height: 2px;margin:29px auto;background-color: #ffffff;}