#parallax2{
	background-image: url(../img/par2.png);
	background-position-x:center;
	min-height:1000px;
	margin-top: -350px;
	background-size:cover;
}

#parallax3{
	background-image: url(../img/par3.png);
	background-position-x:center;
	background-position-y: bottom;
	position:relative;
	z-index:2;
	color:#fff;
	min-height:1170px;
	background-repeat:no-repeat;
}

#parallax4 {
	background-color:#fff;
}

.about-header{
	margin-bottom:76px;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: -1.2px;
	text-align: left;
	text-transform:uppercase;
}
.accent4 {
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #344765;
	text-transform:uppercase;
}

.normal2{
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: 0.4px;
	text-align: left;
	color: #7f7f7f;
}

.icon-container {
	flex-wrap:nowrap;
	margin-bottom: 15px;
}

.icon-container img{
	margin:0 20px;
}

.icon-container div{
	margin-bottom:5px;
}

.icon-container div:first-child {
	min-width:100px;
}

.max{
	width:100%;
	max-width:410px;
}

.bright{
	color: #effbfd;
}

.light-blue{
	color: #b9d8dd;
}

#igHeaderRight{
	position:relative;
	top:0px;
}

#dropOurMission{
	margin: 0 auto;
	margin-top: -212px;
	position:relative;
	width: 100px;
	position:relative;
	z-index:1;
}

#ourMissionHeader{
	margin-top:32px;
	margin-bottom:79px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: center;
	color: #344765;
}

#ourMissionText{
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: -0.6px;
	text-align: center;
	color: #808080;
}

#igHeaderMobile{
	display: none;
}

@media only screen and (max-width: 1050px) {

	.max{
		width:80%;
	}

	#dropOurMission{
		margin-top: -234px;
	}

}

@media only screen and (max-width: 900px) {

	#igHeaderDesktop{
		display: none;
	}

	#igHeaderMobile{
		display: block;
	}

	.max{
		display:none;
	}

	#igHeaderRight{
		position:relative;
		top:0px;
	}

	.about-header{
		font-size:40px;
	}

	.ig-left{
		flex:auto;
		max-width:100%;
	}

	.accent4{
		font-size:30px;
	}

	.normal2{
		font-size:23px;
	}

	#dropOurMission{
		margin-top: -256px;
	}

	#ourMissionHeader{
		font-size:55px;
	}

	#ourMissionText{
		font-size:25px;
	}

}

@media only screen and (max-width: 400px) {

	.about-header{
		font-size:38px;
	}

	.accent4{
		font-size:21px;
	}

	.normal2{
		font-size:16px;
	}

	#dropOurMission{
		margin-top: -307px;
	}

	#ourMissionHeader{
		font-size:38px;
	}

	#ourMissionText{
		font-size:16px;
	}

	.row{
		margin-right: -5px;
	}
}