#parallax5 {
	background-image: url(../img/par5.png);
	background-position-x:center;
	padding-top:800px;
	height: 1679px;
	margin-top: -350px;
	position:relative;
	z-index:1001
}

.download{
	height: 30px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.9px;
	padding-top:18px;
}

.download a{
	color: #575757;
}
.download a{
	text-decoration: none;
}

#whitepaperGraphic{
	margin-top: -430px;
	margin-right: -350px;
}

#whitepaperHeader{
	height: 46px;
	margin-bottom:59px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	margin-top:125px;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: left;
	color: #ffffff;
}

#buttonBase{
	background:url('../img/BUTTON BASE@2x.png');
	background-repeat:no-repeat;
	text-align:center;
	margin-top:25px;
	width: 255px;
	height: 71px;
}

#whitepaperBGGraphic{
	background:url('../img/BG ELEMENTS_WHITEPAPER.png');
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	--margin-top: -80px;
	margin-left: 500px;
	--display:none;
}

@media only screen and (max-width: 1050px) {
	#whitepaperGraphic{
		width:932px;
	}
	#whitepaperBGGraphic{
		margin-left: 300px;
		margin-top: 50px;
	}

}

@media only screen and (max-width: 900px) {
	#whitepaperHeader{
		margin-bottom:29px;
	}

	#whitepaperGraphic{
		width:829px;
		margin-top: -70px;
		margin-right: -300px;
	}

	#whitepaperContainer{
		position:relative;
		top:-200px;
	}
}

@media only screen and (max-width: 770px) {

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: 150px;
	}

	#whitepaperHeader{
		font-size:38.5px;
	}
}

@media only screen and (max-width: 700px) {

	#whitepaperContainer{
		top: -300px;
	}

	#whitepaperGraphic{
		width: 750px;
		margin-top: 120px;
	}
}
	

/* iphone 6 7 8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {	
	#whitepaperGraphic{
		width:600px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -670px !important;	
	}
}

/* iphone 6 7 8 plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {

	#whitepaperGraphic{
		width:600px;
		margin-right: 0px;
		margin-left: 0px;		
		margin-top: -200px;	
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -670px !important;	
	}
}


/* iphone x  */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {

	#whitepaperGraphic{
		width:600px;
		margin-right: 0px;
		margin-left: 0px;	
		margin-top: -200px;
	}

	#whitepaperBGGraphic{
		margin-left: 0px;
		margin-top: -130px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;
		font-size:12.5px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

	#parallax6{
		margin-top: -670px !important;		
	}
}

/* galxay  */
@media only screen and (max-width: 360px) {
	
	#parallax6{
		margin-top: -670px !important;		
	}

	#whitepaperBGGraphic {
		margin-left: 0px;
		margin-top: -130px;
	}

	#whitepaperGraphic{
		width:600px;
		margin-right: 0px;
		margin-left: 0px;	
		margin-top: -200px;		
	}

	.download{
		font-size:12.5px;
		padding-top:18px;
	}

	#buttonBase{
		width: 188px;
		height: 53px;
	}

	#dot-img{		
		width: 7px !important;		
		margin-right: 0px !important;		
		margin-bottom: 10px;
	}

	#buttonBase{				
		width: 140px;
		height: 35px;
	}

	.download2{
		display: none;
	}

	.download{
		padding-top: 10px;		
	}

	#buttonBase{
		margin-top: -30px;
	}

}
