.navbar, nav .dropdown-menu{
	text-transform:uppercase;
	font-size:14px;
}

.navbar{
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.71;
	letter-spacing: normal;
	text-align: left;
	background-color:transparent;
	width:100%;
	padding:0;
}

.navbar-toggler {
	margin-right:20px;
	position:absolute;
	right:0px;
}

.nav-link{
	padding-top:0px;
	padding-bottom:0px;
}
.nav-link, .navbar-brand{
	cursor:pointer;
}

.navbar-brand{
	margin-left:60px;
	position:absolute;
	background-image: url('../img/TEMCO LOGO@3x.png');
	background-size:cover;
	z-index:5000;
}

.nav-item:last-child{
	padding-right:60px;
}

.nav-item:last-child a{
	margin-right:0px;
	padding-right:0px !important;
}

.navbar-color, .navbar-color .navbar-collapse {
	background-color: #202020;
}

#navContainer {
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0 auto;
	height:75px;
	vertical-align: middle;
}

.fixed-top{
	right:inherit;
	left:inherit;
}

.nav-link{
	color:#fff !important;
    --margin-right: 0.5rem;
	padding-left: 25px;
}

.navbar .active a{
	border-bottom:1.5px #72c2cc solid;
}

.nav-item{
	margin-left:10px;
}

@media (max-width: 1050px) {
	.navbar-brand{
		margin-left:40px;
	}
	.nav-item:last-child{
		padding-right:40px;
	}

}

@media (min-width: 901px) {

	.navbar-expand-custom {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
		flex-direction: row;
	}
	.navbar-expand-custom .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.navbar-expand-custom .navbar-collapse {
		display: flex!important;
	}
	.navbar-expand-custom .navbar-toggler {
		display: none;
	}
}

@media (max-width: 900px) {
	.navbar-collapse{
		padding-top:75px;
		padding-left:65px;
		padding-bottom:25px;
	}
	.collapse.show, .collapsing{
		background-color:#202020;
		margin-top:-25px;
	}
}
@media only screen and (max-width: 768px) {

	.navbar-collapse {
		background-color: #202020 !important;
	}

}

/* iphone 6+, 6s+, 7+, 8+  */
@media only screen and (max-width: 415px) {
	.navbar-brand{
		width:38px !important;
		background-image: url('../img/temcoLogoSmall.png');
		margin-left: 10px;
	}

	#navContainer {
		padding-top:10px;
		height:60px;
	}

	.navbar-toggler {
		margin-right: 10px;
	}

	#headerTransform{
		margin-top: 30px !important;
	}

	#headerCube {
		top: 300px !important;
		width: 630px !important;;
	}

	#header-bar-img{
		width: 70px;
	}

	#header-bar-dot{
		margin-top: 0px !important;
		margin-left: 0px !important;
		width: 7px !important;
		vertical-align: bottom !important;
		margin-left: 3px !important
	}

	.header2{
		margin-bottom: 0px !important; 
	}
	

	#headerCubeLeft {
		left: -0px !important; 
		top: 0px !important; 
		width: 250px !important;
	}

}

