.navbar, nav .dropdown-menu{
	text-transform:uppercase;
	font-size:14px;
}

.navbar{
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.71;
	letter-spacing: normal;
	text-align: left;
	background-color:transparent;
	width:100%;
	padding:0;
}

.navbar-toggler {
	margin-right:20px;
}

.nav-link{
	padding-top:0px;
	padding-bottom:0px;
}
.nav-link, .navbar-brand{
	cursor:pointer;
}

.navbar-brand{
	padding-left:20px;
}

.nav-item:last-child{
	padding-right:20px;
}

.nav-item:last-child a{
	margin-right:0px;
	padding-right:0px !important;
}

.navbar-color, .navbar-color .navbar-collapse {
	background-color: #202020;
}

#navContainer {
	width:100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
//padding: 0 20px;
	margin: 0 auto;
	height:75px;
	vertical-align: middle;
}

.fixed-top{
	right:inherit;
	left:inherit;
}

.nav-link{
	color:#fff !important;
//margin-right: 0.5rem;
	padding-left: 25px;
}

.navbar .active a{
	border-bottom:1.5px #72c2cc solid;
}

.nav-item{
	margin-left:10px;
}

@media only screen and (max-width: 882px) {

	.nav-link{
		font-size:11px;
	}

	.nav-item{
		margin-left:5px;
	}
}

@media only screen and (max-width: 768px) {

	.navbar-collapse {
		background-color: #202020 !important;
	}

}