#parallax1{
	background-image: url(../img/par1.png);
	background-position-x:left;
	min-height:1200px;
	color:#fff;
	padding-top:60px;
}

.header1{
	margin-bottom:10px;
	text-transform:uppercase;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -1.3px;
	text-align: left;
	color: #ffffff;
}

.header2{
	height: 40px;
	margin-bottom:30px;
	text-transform:uppercase;
	font-family: Montserrat;
	font-size: 60px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.63;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.header3{
	height: 42px;
	text-transform:uppercase;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: 1.2px;
	text-align: left;
	color: #ffffff;
	width:541px;
}
#headerCubeLeft{
	position:absolute;
	left: -155px;
	top: 75px;
}

#headerCube{
	position: absolute;
	right: 0px;
	top: 325px;
	width:1404px;
	height:839px;
	background-image: url(../img/HEADER_CUBE01@2x.png);
	background-size:contain;
	background-repeat:no-repeat;
}

#headerBinary{
	position: absolute;
	right: 65px;
	top: 35px;
	width:210px;
	height:595px;
	background-image: url(../img/headerBinaryCode.png);
	background-repeat:no-repeat;
}

@media only screen and (max-width: 1400px) {
	#headerCube{
		right:-110px;
	}

	#headerBinary{
		position: absolute;
		right: 65px;
		top: 35px;
	}
}


@media (max-width: 1050px) {

	.header1, .header2{
		width:512px;
	}

	.header3{
		width:315px;
	}

	#headerCube{
		right:-150px;
		width:1200px;
	}

	#headerBinary{
		position: absolute;
		right: 35px;
		top: 35px;
		--width:150px;
	}

}

@media (max-width: 900px) {

	#headerBinary{
		display:none;
	}

	#headerCube{
		width: 1000px;
		top: 500px;
		right: -124px;
	}

	.header1{
		font-size:60px;
	}

	.header2{
		font-size:72px;
	}

}

@media (max-width: 400px) {

	#headerBinary{
		display:none;
	}

	#headerCube{
		width: 800px;
		top: 585px;
		right: -99px;
	}

	.header1{
		font-size:42px;
	}

	.header2{
		font-size:50.5px;
	}

	.header3{
		font-size:14px;
	}

}

@media only screen and (max-width: 818px) {

	.header1{
		line-height: 1 !important;
	}
}

/* iphone 7 8 */
@media only screen and (max-width: 375px) and (max-device-height: 667px) {
	#parallax1 {
		min-height: 825px !important;
	}	

	#headerCubeLeft {	
		top: 80px; 		
	}

	#headerCube {
		top: 300px;	
	}
}

/* iphone 6 7 8 plus */
@media only screen and (max-width: 414px) and (max-device-height: 736px) {
	#parallax1 {
		min-height: 890px
	}	

	#headerCubeLeft {	
		top: 80px; 		
	}

	#headerCube {
		top: 370px;
		margin-right: 30px;
	}
}

/* iphone x  */
@media only screen and (max-width: 375px) and (max-device-height: 812px) {
	#parallax1 {
		min-height: 970px;
	}
	
	#headerCubeLeft {
		left: -0px; 
		top: 100px; 
		width: 250px;
	}

	#headerCube {
		top: 350px;
		width: 630px;
	}
}

/* galxay  */
@media only screen and (max-width: 360px) {
	#parallax1 {
		min-height: 790px !important;
	}

	#headerCubeLeft {	
		top: 80px !important; 		
	}

	#headerCube {
		top: 300px !important;
		margin-right: 0px !important;
	}
}
